<div class="container mb-5">
  <div style="text-align:center">
    <h1>
      Welcome to Calendar Page!
    </h1>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          Month
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          Week
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          Day
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>

  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

  <!-- <br /><br /><br />
  
  <h3>
    Edit events
    <button class="btn btn-primary pull-right" (click)="addEvent()">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>
  
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Primary color</th>
          <th>Secondary color</th>
          <th>Starts at {{events[0].start}}</th>
          <th>Ends at</th>
          <th>Remove</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let event of events">
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.title"
              (keyup)="refresh.next()"
            />
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.primary"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.secondary"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.start"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteEvent(event)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
  <div style="display: flex; margin: 30px 20px 0 0;justify-content:flex-end;">
    <button class="btn btn-lg btn-primary" (click)="openModal(eventModifyModal)">New Event</button>
  </div>

  <ng-template #eventModifyModal let-modal>
    <div class="container pl-5 pr-5 pt-5 pb-5">
      <form>
        <div class="form-group">
          <label for="eventTitle">
            <h3>Tiêu Đề Sự Kiện {{currentEvent.title}}</h3>
          </label>
          <input type="text" class="form-control" id="eventTitle" placeholder="Nhập Tiêu Đề"
            [(ngModel)]="currentEvent.title" name="eventTitle">
        </div>

        <div class="form-group">
          <label for="repeatPlan">
            <h3>Kế hoạch lặp lịch {{currentEvent.repeatPlan}}</h3>
          </label>
          <select class="form-control" id="repeatPlan" [(ngModel)]="currentEvent.repeatPlan" name="repeatPlan">
            <option class="font-weight-bold" selected disabled>Chọn kế hoạch lặp lịch</option>
            <option value="daily">Nhiều lần trong 1 ngày</option>
            <option value="weekly">Nhiều ngày trong 1 tuần</option>
            <option value="monthly">Nhiều ngày trong 1 tháng</option>
            <option value="annually">Nhiều ngày trong 1 năm</option>
          </select>
        </div>

        <div class="form-group">
          <label>
            <h3>Ngày Giờ</h3>
          </label>
          <div *ngFor="let item of dayList" class="row mb-2">
            <div class="col-10 pr-1">
              <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="dayList[dayList.indexOf(item)]"
                [ngModelOptions]="{standalone: true}" (ngModelChange)="refresh.next()" [altInput]="true"
                [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
                placeholder="Not set" />
            </div>
            <div class="col-2 pl-1">
              <button class="btn btn-danger btn-block" (click)="removeDayByIndex(item)">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <button class="btn btn-success btn-block" (click)="increaseNumberOfDays()">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <button type="submit" class="btn btn-primary btn-lg mt-5 mr-3" (click)="saveEvent()">Lưu</button>
        <button type="button" class="btn btn-secondary btn-lg mt-5" (click)="cancelModal()">Hủy bỏ</button>
      </form>
    </div>
  </ng-template>



  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>




  <div style="margin-top: 500px;"></div>